include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGES.rst
include LICENSE
include README.rst
include setup.cfg
include *.py
include *.sh
include *.txt
include *.rst
include plonecli_autocomplete.sh
include Makefile
include tox.ini
recursive-include docs *.svg

graft plonecli
graft tests

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
