include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGES.rst
include LICENSE
include README.rst
include setup.cfg
include *.py
include *.sh
include *.txt
include *.rst
include plonecli_autocomplete.sh
include Makefile
include tox.ini
recursive-include docs *.svg

recursive-include tests *
recursive-include plonecli *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
