tox
pytest
zest.releaser[recommended]

# Development dependencies
-e git+https://github.com/plone/bobtemplates.plone.git@MrTango_cli#egg=bobtemplates.plone
-e git+https://github.com/MrTango/mr.bob.git#egg=mr.bob
